/* mobile - tablet */
@media (max-width: 1024px) {

}
/* mobile */
@media (max-width: 739px) {
    .mobile-icon {
        display: block;
    }
    .header_nav-list {
        display: none;
    }
    .header_nav {
        padding: 0 20px;
    }
    .container_one-content {
        width: 100%;
        padding: 0 20px;
    }
    .container_one-content-text1 {
        font-size: 5rem;
    }
    .container_one-img img {
        height: 500px;
    }
    .container_two {
        padding: 60px 0 40px 0;
    }
    .container_two,
    .container_four,
    .container_five,
    .container_six,
    .container_eight {
        padding-right: 30px;
        padding-left: 30px;
    }
    .container_two-container-img-block {
        height: 230px;
    }
    .container_two-container-img {
        padding-top: 30px;
    }
    .container_four-block-img  {
        height: 400px;
        /* overflow: hidden; */
    }
    .container_five-right h1 {
        padding-top: 20px;
    }
    .container_six .row {
        margin-left: 0;
    }
    .container_six-right img {
        margin: unset;
        margin-top: 20px;
    }
    .container_eight-right-item-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1024px) {
    .header .grid.wide {
        width: unset;
        margin: 0 20px;
    }
    .header_nav-item {
        padding: 0 8px;
    }
    .header__search-input {
        width: 100px;
    }
    .container_two-container-img {
        margin-top: 40px;
    }
    .container_two-container-img-block {
        float: unset;
        justify-content: center;
        width: 100%;
    }

    .container_five-left img {
        width: unset;
    }
    .container_five-right {
        margin-top: 40px;
    }

    .container_six-right img {
        margin: unset;
        margin-top: 40px;
    }

    .container_eight-right-header {
        margin-top: 20px;
    }
}
